[Unit]
Description=Mastodon To Twitter Sync Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/Mastodon-to-Twitter-Sync/
ExecStart=/usr/bin/python3 /opt/Mastodon-to-Twitter-Sync/mtSync.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
